{% extends '_helpers/_base.html' %}

{% block content %}
    <table>
    <tr><td>Name</td><td>Email</td><td>Password</td></tr>
        {% for user in users %}
            <tr>
                <td>
                    <span>{{ user.login }}</span>
                </td>
                <td>
                    <span>{{ user.email }}</span>
                </td>
                <td>
                    <span>{{ user.password }}</span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
